<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>一种自动问答系统的设计与实现</title>
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="inner-center main">
  		<div class="content-inside">
    		<div class="logo-box">
      			<div class="logo-left">
        			<img src="../static/img/hubeishifan.jpeg" alt="logo">
      			</div>
      			<div class="logo-right">
        			<span>一种自动问答系统的设计与实</span>
      			</div>
    		</div>
    
    		<!-- 标题 start -->				
			<h3 class="title">{{news["title"]}}</h3>
			<div class="content">
				{% for para in news["content"] %}
					<p>{{para}}</p>
				{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>